# macOS
.DS_Store

# ESPSwift installer artifacts
*.pkg

# ESP-IDF build artifacts
build/
sdkconfig
sdkconfig.old

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/
# Installer build artifacts
installer/build/
installer/*.pkg
