# macOS
.DS_Store

# ESPSwift installer artifacts
*.pkg

# ESP-IDF build artifacts
build/
sdkconfig
sdkconfig.old

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/
# Installer build artifacts
installer/build/
installer/*.pkg

# Xcode (installer app)
installer/ESPSwiftInstaller/build/
installer/ESPSwiftInstaller/**/xcuserdata/
installer/ESPSwiftInstaller/**/*.xcuserstate
installer/ESPSwiftInstaller/.DS_Store
