<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>CMakeLists.txt</key>
		<dict>
			<key>Path</key>
			<string>CMakeLists.txt</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>build.sh</key>
		<dict>
			<key>Path</key>
			<string>build.sh</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main/BridgingHeader.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>main</string>
			</array>
			<key>Path</key>
			<string>main_BridgingHeader.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main/CMakeLists.txt</key>
		<dict>
			<key>Group</key>
			<array>
				<string>main</string>
			</array>
			<key>Path</key>
			<string>main_CMakeLists.txt</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main/idf_component.yml</key>
		<dict>
			<key>Group</key>
			<array>
				<string>main</string>
			</array>
			<key>Path</key>
			<string>main_idf_component.yml</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main/main.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>main</string>
			</array>
			<key>Path</key>
			<string>main_main.swift</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>sdkconfig.defaults</key>
		<dict>
			<key>Path</key>
			<string>sdkconfig.defaults</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Description</key>
	<string>A bare-metal Embedded Swift project targeting the ESP32-C6 (RISC-V).</string>
	<key>Identifier</key>
	<string>com.espswift.template.esp32c6</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>build.sh</string>
		<string>CMakeLists.txt</string>
		<string>sdkconfig.defaults</string>
		<string>main/BridgingHeader.h</string>
		<string>main/CMakeLists.txt</string>
		<string>main/idf_component.yml</string>
		<string>main/main.swift</string>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildToolArgsString</key>
			<string>$(ACTION)</string>
			<key>BuildToolPath</key>
			<string>$(PROJECT_DIR)/___PROJECTNAME___/build.sh</string>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaLegacyTarget</string>
			<key>TargetType</key>
			<string>Legacy</string>
		</dict>
	</array>
</dict>
</plist>
